body {
  background-color: #d8dde3;
}
.titles h1 {
  font-size: 28px;
  margin-bottom: 0px;
}
.titles h2 {
  font-size: 22px;
  color: #1ebcad;
}
.base-panel {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
}
#sidebar h3 {
  font-size: 14px;
  font-weight: bold;
}
.base-panel {
  min-height: 640px;
}
#chartdiv {
  height: 580px;
}
.sidebar-block {
  padding-bottom: 10px;
  margin-bottom: 15px;
}
.sidebar-title {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0px;
}
.sidebar-buttons {
  text-align: center;
}
.sidebar-buttons button {
  margin: 10px;
}
.logo {
  margin: 15px auto;
  width: 350px;
}
.hook-text {
  font-size: 14px;
  line-height: 14px;
}