body {
  background-color: #d8dde3;
}
.titles h1 {
  font-size: 28px;
  margin-bottom: 0px;
}
.titles h2 {
  font-size: 22px;
  color: #1ebcad;
}
.base-panel {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
}
#sidebar h3 {
  font-size: 14px;
  font-weight: bold;
}
.base-panel {
  min-height: 500px;
}
#chartdiv {
  height: 460px;
}

.sidebar-title {
  font-weight: bold;
  margin-top: 10px;
}
